@model IndexViewModel

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">ManufacturerID</th>
      <th scope="col">Price</th>    
      <th scope="col">Count</th>  
    </tr>
  </thead>
  <tbody>
      @foreach(var product in Model.Products)
        {
            <tr>
              <td>@product.ID</td>
              <td>@product.Name</td>
              <td>@product.Description</td>
              <td>@product.Type</td>
              <td>@product.ManufacturerID</td>
              <td>@product.Price</td>
              <td>@product.Count</td>
            </tr>
        }
  </tbody>
</table>

@if (Model.PageInfo.HasPreviousPage)
{
    <a asp-area="Admin" asp-controller="Product" asp-action="Index"
       asp-route-page="@(Model.PageInfo.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageInfo.HasNextPage)
{
    <a asp-area="Admin" asp-controller="Product" asp-action="Index"
       asp-route-page="@(Model.PageInfo.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}